body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background-color: #e6e7eb;
    color: #333;
    padding-bottom: 60px; 
}

h1, h2 {
    color: #141a14;
}

ul li{
    border-radius: 8px;
    padding: 15px;
    padding-left: 0;
    margin: 10px 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    list-style: none;
}

ul li strong {
    font-size: 1.1em;
}

footer {
    background-color: #212529;
    color: #fff;
    padding: 15px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.liste-recettes {
    max-width: 600px;
    margin: 0 auto;
    list-style: none;
    padding: 15px; 
}

.recette-item {
    display: flex;
    background-color: #fefefe;
    padding: 12px 16px;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    margin-bottom: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}
.recette-item strong {
    margin-right: auto;  
}
.recette-item a {
    margin-left: 10px; 
}
.icon-action {
    margin-left: 8px;
    text-decoration: none;
    font-size: 1.1em;
}

.icon-action:hover {
    opacity: 0.7;
}
.btn-success {
    background-color: #698094; 
    color: white;
    border: none;
}

.btn-success:hover {
    background-color: #190f31; 
}

form {
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    background-color: #f8f9fa; 
    border: 1px solid #dee2e6;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}
form input,
form textarea,
form select {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
form button {
    width: 100%;
  
}
.card-img-top {
    width: 100%; 
    height: 500px; 
    object-fit: cover; 
    object-position: center;
    
}

.search-bar input {
    border-radius: 20px;
    padding: 8px 12px;
    height: 38px;
    max-width: 400px; 
    margin-left: auto; 
    position: relative;
}

.search-bar i {
    font-size: 16px;
    pointer-events: none;
    position: absolute; 
    top: 50%; 
    left: 12px; 
    transform: translateY(-50%); 
    color: #888;
}
